@import url('~normalize.css');

* {
  box-sizing: border-box;
}

@import 'variables';
@import 'fonts';
@import 'typography';
@import 'icons';
@import 'forms';
@import 'print';

@media screen {
  html, body {
    height: 100%;
  }
}

.toasted-container{
  .toasted-primary{
    background: $primary !important;
  }
}


$navbar-height : 5.4rem;

@import "/node_modules/bulma/sass/utilities/_all.sass";
@import "/node_modules/bulma/sass/base/_all.sass";
@import "/node_modules/bulma/sass/elements/_all.sass";
@import "/node_modules/bulma/sass/components/_all.sass";
@import "/node_modules/bulma/sass/form/_all.sass";