@import 'colors';

/*********************
FONTS
*********************/

$poppins: 'Poppins', sans-serif;

/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: 640px) { @content ; }
  }
}

/*********************
VARIABLES
*********************/

$sidebar-size: 50px;
$column-size: 310px;
$max-document-width: 600px;

$primary-color: #243447;
$secondary-color: #1DA1F2;
//$background-color: #E1E8ED;
$background-color: mix(#f3f5f6,#E1E8ED,50);


$urgency-bar-width: 12px;