{
  "presets": [
    ["env", {
      "useBuiltIns": true
    }]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "plugins": [
    "dynamic-import-node",
    "transform-runtime"
  ]
}
